.header{
    background-color: #3F51B5;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content:space-between; 
}
.title{
    font-size: x-large;
    color: white;
    margin-bottom: 0rem;
    padding-left: 3rem;

}

.search{
    padding-right: 3rem;

}